body{
  overflow-x: hidden;
  /* background-image: url(https://cdn.pixabay.com/photo/2014/04/05/11/39/rain-316579_1280.jpg); */
  background-image: linear-gradient(to bottom right, rgb(250, 239, 250),rgba(187, 187, 247, 0.128));
}

.reg {
  justify-content: center;
  display: flex;
  align-items: center;
  text-shadow: 1px 2px black;
  color: white;
}
.box{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub{
  /* background-color: gray; */
  border-radius: 5px;
  width: 500px;
  padding: 20px;
  
}
.bkgrnd{
    background-image: linear-gradient(to bottom right, rgb(207, 207, 249),rgba(9, 9, 249, 0.591));
}

.fbox{
  background-color: white;
}